body {
    font-family: 'Arial', sans-serif;
    align-items: center;
    align-self: auto;
}

h2,
h3 {
    text-align: center;
    text-align-last: calc();

}

/* Eliminar el espacio superior del h3 */
h3 {
    margin-top: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

li {
    background: linear-gradient(to right, #ffffff, transparent);
    box-shadow: 0 0 15px 15px #ffffff inset;
    border-radius: 15px;
    margin: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: calc(15.50% - 25px);
    max-width: calc(15.50% - 25px);
    max-height: calc(12cm - 25px);
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    animation: glowAnimation 0.5s linear infinite;
}

@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 20px 20px #ffffff inset;
    }

    50% {
        box-shadow: 0 0 20px 20px #ffffff inset;
    }

    100% {
        box-shadow: 0 0 20px 20px #FFDD77 inset;
    }
}